/*------------------------------------*\
    #MATERIAL DESIGN ICONS
\*------------------------------------*/

/**
 *
 */

// Predefine the variables below in order to alter and enable specific features.

$inuit-md-icon-font-size: 24px !default;

$inuit-md-icon-left-paddings: false !default;
$inuit-md-icon-right-paddings: false !default;

$inuit-md-icon-horizontal-paddings: (
        tiny    : 4px,
        small   : 8px,
        large   : 16px,
        huge    : 32px
);


.#{$inuit-md-namespace}md-icon {

    direction: ltr;
    display: inline-block;
    vertical-align: middle;
    font-family: '#{$inuit-md-family}';
    font-feature-settings: 'liga';  /* Preferred icon size */
    font-size: $inuit-md-icon-font-size;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;

    /* Support for all WebKit browsers. */
    text-rendering: optimizeLegibility;
    /* Support for Safari and Chrome. */
    text-transform: none;
    /* Support for Firefox. */
    white-space: nowrap;
    /* Support for IE. */
    word-wrap: normal;


    // MODIFIERS
    // ---------
    @if ($inuit-md-icon-left-paddings == true) {
        @each $modifier, $value in $inuit-md-icon-horizontal-paddings {
            &--#{$modifier}-left {
                padding-left: #{$value};
            }
        }
    }

    @if ($inuit-md-icon-right-paddings == true) {
        @each $modifier, $value in $inuit-md-icon-horizontal-paddings {
            &--#{$modifier}-right {
                padding-right: #{$value};
            }
        }
    }

    &--top {
        display:block;
    }

}
